
@font-face {
                          font-family: "BrushScriptStd";
                          src: url('../fonts/BrushScriptStd.otf') format("opentype");
                        }

.skills {
  width               : 100%;
  min-width           : 1450px;
  height              : 100vh;
  min-height          : 932px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.skills .rectangle {
  background-color    : rgba(232, 238, 228, 1.0);
  top                 : 0px;
  height              : 932px;
  box-sizing          : border-box;
  width               : 1450px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(232, 238, 228, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.skills .strongdecisionmaki {
  background-color    : rgba(255,255,255,0.0);
  top                 : 477px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 754px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Apple-Chancery", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(2, 2, 2, 1.0);
  text-align          : justify;
  line-height         : 64.0px;
}
.skills .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 148px;
  height              : 600px;
  width               : 600px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.skills .saivikas {
  background-color    : rgba(255,255,255,0.0);
  top                 : -8px;
  height              : 126px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 195px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Apple-Chancery", Helvetica, Arial, serif;
  font-size           : 80.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 126.0px;
}
.skills .drunkencoder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 30px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 221px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "AppleGothic", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.skills .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 29px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 756px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "ArialRoundedMTBold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.skills .experience {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 29px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 889px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "ArialRoundedMTBold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.skills .projects {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 29px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1087px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "ArialRoundedMTBold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.skills .skills2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 95px;
  height              : 29px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1249px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "ArialRoundedMTBold", Helvetica, Arial, serif;
  font-size           : 25.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.skills .skills1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 124px;
  height              : 238px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 725px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Apple-Chancery", Helvetica, Arial, serif;
  font-size           : 150.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 238.0px;
}
.skills .rectangle1 {
  background-color    : rgba(66, 71, 63, 1.0);
  top                 : 863px;
  height              : 69px;
  box-sizing          : border-box;
  width               : 1450px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(66, 71, 63, 1.0);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.skills .saivikas34gmailcom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 881px;
  height              : 31px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 638px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.skills .a919398444644 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 879px;
  height              : 33px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 165px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Arial", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 30.0px;
  color               : rgba(247, 247, 247, 1.0);
  text-align          : left;
  line-height         : 34.0px;
}
.skills .icons8phone96 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 882px;
  height              : 29px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 125px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.skills .icons8envelope50 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 882px;
  height              : 35px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 591px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.skills .icons8follow96 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 863px;
  height              : 69px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 1169px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.skills .facebook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 877px;
  height              : 34px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 1241px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.skills .instagramsketched {
  background-color    : rgba(255,255,255,0.0);
  top                 : 880px;
  height              : 36px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 1287px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.skills .knowledgeofmysqla {
  background-color    : rgba(255,255,255,0.0);
  top                 : 347px;
  height              : 128px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 756px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Apple-Chancery", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(2, 2, 2, 1.0);
  text-align          : justify;
  line-height         : 64.0px;
}
.skills .scalabilityandperf {
  background-color    : rgba(255,255,255,0.0);
  top                 : 412px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 756px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Apple-Chancery", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(2, 2, 2, 1.0);
  text-align          : justify;
  line-height         : 64.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}
